<% breadcrumb :template_new %>

<div>
  <h1>テンプレートを新規追加する</h1>
</div>

<div>
  <%= render 'shared/error_messages', posted_val: @template %>
  <%= render 'form', template: @template, diary_id: @diary_id %>
</div>