<div class="ml-2">
  <h1>Edit Work</h1>
</div>

<hr>

<div class="mx-2">
  <%= render 'shared/error_message', posted_val: @work %>
  <%= render 'form', diary: @diary, work: @work, templates: @templates, categories: @categories %>
</div>