<h1>ワークを編集する</h1>

<div class="navigation-space">
  <hr>
  <hr>
</div>

<%= render 'shared/error_message', posted_val: @work %>

<%= render 'form', diary: @diary, work: @work, templates: @templates, edit_flag: true %>