<div>
  <h1>ワークを追加する</h1>
</div>

<hr>

<div>
  <%= render 'shared/error_message', posted_val: @work %>
  <%= render 'form', diary: @diary, work: @work, templates: @templates, categories: @categories %>
</div>