<h1>ワークを作る</h1>

<div class="navigation-space">
  <hr>
  <hr>
</div>

<%= render 'error_message', work: @work %>

<%= render 'form', diary: @diary, work: @work, template: @template,templates: @templates, template_body: @template_body %>