<%= form_with(model: diary, local: true) do |form| %>

  <div class="pb-2">
    <label class="font-weight-bold">日付</label>
    <div class="ml-2"><%= form.date_select :date, :use_month_numbers => true %></div>
  </div>

  <div class="pb-2">
    <label class="font-weight-bold">内容</label>
    <div class="ml-2"><%= form.text_area :body %></div>
  </div>
  
  <div class="ml-2"><%= form.submit '登録', class:"btn btn-dark" %></div>
  
<% end %>