<h1>日誌</h1>

<div class="navigation-space">
  <hr>
  <hr>
</div>

<div class="contents">
  <table>
    <tr>
      <td>日付</td>
      <td>内容</td>
    </tr>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= link_to diary.date, diary_path(diary) %></td>
        <td><%= diary.body %></td>
      </tr>
    <% end %>
  </table>
</div>