<div>
  <h1><i class="fa fa-tags nav-link"></i>編集</h1>
</div>

<hr>

<div>
  <p><i class="fa fa-tag mx-1"></i><%= link_to "カテゴリ編集", categories_path %></p>
  <p><i class="fa fa-sticky-note mx-1"></i><%= link_to "テンプレート編集", templates_path %></p>
</div>