<h1>カテゴリーを作る</h1>

<div class="navigation-space">
  <hr>
  <hr>
</div>

<%= render 'shared/error_message', posted_val: @category %>
<%= render 'form', category: @category, diary_id: @diary_id, edit_flag: true %>