<div class="ml-2">
  <h1>Categories</h1>
  <%= link_to "Make New Category", new_category_path, class:"btn btn-dark btn-sm" %>
</div>

<hr>

<table class="mx-2">
  <% @categories.each do |category| %>
    <tr>
      <td class="px-2"><i class="fa fa-tag mx-1"></i><%= category.name %></td>
      <td><%= link_to "", edit_category_path(category), class: "fa fa-edit fa-1x text-dark" %></td>
      <td><%= link_to "", category_path(category), method: :delete, data: {confirm: "このカテゴリを消して大丈夫？"}, class: "fa fa-trash fa-1x text-dark" %></td>
    </tr>
  <% end %>
</table>