<div class="ml-2">
  <h1>Make New Category</h1>
</div>

<hr>

<div class="mx-2">
  <%= render 'shared/error_message', posted_val: @category %>
  <%= render 'form', category: @category, diary_id: @diary_id %>
</div>