<div>
  <h1><i class="fa fa-user nav-link"></i>アカウント</h1>
</div>

<hr>

<div>
  <div class="mb-2">
    <%= @user.email %> としてログイン中
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-dark btn-sm" %>
    <% end %>
  </div>
</div>